version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "joshgold" # Update with your GitHub username
    labels:
      - "dependencies"
      - "security"


